galaxy_info:
  author: {{ authors }}
  namespace: {{ namespace }}
  description: {{ description }}
  license: GPL-3.0-only

  min_ansible_version: "2.11"

  platforms:
  - name: Debian

  galaxy_tags:
    - helm
    - kubernetes
    - ingress
    - nginx
